version: '3.8'

services:
  cloudnative:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: dev

  collector:
    image: otel/opentelemetry-collector:0.10.0@sha256:8bf52842ea6407d5296aa71083c88a5db907dcabe5f092fb19d665a62904f510
    command:
      - --config=/etc/otel/config.yaml
    volumes:
      - ./config/otel:/etc/otel:ro
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 55678 # OpenCensus receiver
      - 55680:55679 # zpages extension
    depends_on: [jaeger, prometheus, zipkin]

  jaeger:
    image: jaegertracing/all-in-one:1.19.2@sha256:f4855ebc1a915ea92782292f5696b22ac61ac834fecaced1004d652b10f5d245
    ports:
      - 16686:16686

  prometheus:
    image: prom/prometheus:v2.21.0@sha256:f3ada803723ccbc443ebea19f7ab24d3323def496e222134bf9ed54ae5b787bd
    command:
      - --config.file=/etc/prometheus/config.yaml
    volumes:
      - ./config/prometheus:/etc/prometheus
    ports:
      - 9090:9090

  zipkin:
    image: openzipkin/zipkin:2.21.7@sha256:1d224efa597b2a8ab188a059d7a93f511206a7bba20d8d43593ed4b1843ad780
    ports:
      - 9411:9411
